$navbar: #f8f9fa;
$navbar-font-color: #b2b2b2;
$footer-background-color: #525864;
$navbar-link-active: #272728;
$navbar-font-active-link: #848485;
$footer-links-color: #b2b2b2;
$footer-hashTag-color: #eaeaea;

$text-color: #272728;
