@import 'variables';
@import 'home';

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Oswald', sans-serif, Tahoma, Arial;
    background-color: white;
}

.navbar {
    background-color: $navbar;
    display: flex;
    justify-content: center;

    &__section {
        width: 58%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 0;
    }

    &__logo {
        height: 100px;
        width: auto;
        display: flex;
    }

    &__navigation {
        display: flex;
        align-items: center;
        list-style-type: none;

        li a {
        color: $navbar-font-color;
        text-decoration: none;
    }
}

    &__link {
        padding-left: 3rem;
    }

    .navbar__link--active {
        color: $navbar-font-active-link;
    }
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__mainHeading {
        color: $text-color;
        text-transform: uppercase;
        font-weight: 200;
    }

    &__subHeading {
        color: $text-color;
        text-transform: uppercase;
        font-weight: 200;
    }

    
}

.footer {
    background-color: $footer-background-color;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &__links {
    width: 35%;
    //margin: 0 35rem;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    color: $footer-links-color;
    padding: 2rem 0 1.5rem 0;
    margin: 0;

    li a {
        color: $navbar-font-color;
        text-decoration: none;
    }
    }

    &__hashText {
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        color: $footer-hashTag-color;
    }

    &__socialMedia {
        display: flex;
        justify-content: center;
        color: $footer-hashTag-color;
        padding-bottom: 2.5rem;
    }

    &__socialLink {
        color: $footer-links-color;
        text-decoration: none;
    }
}


 




//   &__navigation {
//     display: flex;
//     align-items: center;
//     list-style-type: none;
//   }

//   &__link--active {
//     color: $navbar-font-active-link;
//   }
// }

// &__navigation a {
//       padding-left: 50px;
//       color: $navbar-font;
//       text-decoration: none;
//       list-style-type: none;
//     }

  

    

    
  

